@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  position: relative;
  font-weight: 700;
  display: inline-block;
  left: -3px;
  width: 25px;
  top: -20px;
  margin-left: -20px;
  /* word-wrap: normal; */
  color: red;
}

p {
  margin: 20px 0px 0px 0px;
}
